.reg {
    text-align: center;
    justify-content: center;
    height: 100px;
    line-height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: red;
    background-color: black;
} 

.cap1 {
    text-align: center;
    justify-content: center;
    height: 80px;
    line-height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: red;
    background-color: black;
}

.Reg1 {
   text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: aqua;
    background-color: black;
}

.cap2 {
    text-align: center;
    justify-content: center;
    height: 80px;
    line-height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: red;
    background-color: black;
}

.Reg2 {
   text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: aqua;
    background-color: black;
}

.cap3 {
    text-align: center;
    justify-content: center;
    height: 80px;
    line-height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: red;
    background-color: black;
}

.Reg3 {
   text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: aqua;
    background-color: black;
}

.cap4 {
    text-align: center;
    justify-content: center;
    height: 80px;
    line-height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: red;
    background-color: black;
}

.Reg4 {
   text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: aqua;
    background-color: black;
}

.cap5 {
    text-align: center;
    justify-content: center;
    height: 80px;
    line-height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: red;
    background-color: black;
}

.Reg5 {
   text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: aqua;
    background-color: black;
}

.cap6 {
    text-align: center;
    justify-content: center;
    height: 80px;
    line-height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: red;
    background-color: black;
}

.Reg6 {
   text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: aqua;
    background-color: black;
}

.cap7 {
    text-align: center;
    justify-content: center;
    height: 80px;
    line-height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: red;
    background-color: black;
}

.Reg7 {
   text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: aqua;
    background-color: black;
}

.RT {
  width: 200px;
  text-align: center;
  display: block;
  margin: 20px auto;
}
